*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Mochiy Pop P One', sans-serif;
}

.App section{
 width: 100%;
}

/* --- PAGE - START ---- */

.page-start{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.who-pokemon{
 display: grid;
 grid-template-rows: 1fr;
}

.who-pokemon .img-container{
  background-image: url(./img/who-is.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.who-pokemon .img-container img{
  position: absolute;
  top: -50px;
  left: -60px;
  width: 80%;
  filter:brightness(.015) drop-shadow(1px 1px 20px rgba(0,0,0,.3)) saturate(5);
  transform: scale(.60);
  transition: .65s linear;
  animation: tilin 1.5s linear .5s infinite;
}

@keyframes tilin {
  0%{transform: rotate(0deg) scale(.60);  }
  20%{transform: rotate(0deg) scale(.60);  }
  40%{transform: rotate(10deg) scale(.60);  }
  80%{transform: rotate(-10deg) scale(.60);  }
  100%{transform: rotate(0deg) scale(.60);  }
}

.who-pokemon .img-container .show{
  filter:brightness(1) drop-shadow(1px 1px 40px rgba(0,0,0,.3)) saturate(3.5);
  top: -60px;
  left: -60px;
  animation: zoom 1.5s ease-out reverse;
}

@keyframes zoom {
  0%{transform:  scale(.60)  rotate(deg)}
  100%{transform: scale(.60) rotate(360deg)  }
}

.who-pokemon .container-btn-show{
  text-align: center;
}

.who-pokemon .container-btn-show button{
position: absolute;
top: 40%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
font-size: 1.5rem;
font-weight: bold;
background-color: red;
color: #fff;
padding: 8px;
border-radius: .5rem;
outline: none;
border: none;
box-shadow: 0 9px rgb(5, 77, 110);
cursor: pointer;
}

.who-pokemon .container-btn-show button:active{
  box-shadow: 0 5px #666;
  transform: translateX(-50%) translateY(calc(-50% + 5px));
}

.loader-pokeball{
  place-self: center;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: spin 1s ease-in-out infinite ;
}

.name-pokemon{
  justify-self: center;
  color: yellow;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px blue;
  text-decoration-style:dashed;
  -webkit-text-stroke: 1px rgba(0, 0, 0,.8);
}

.loader-pokeball:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  top: -4px;
  background-color: red;
  border-bottom: 4px solid black;  
}

.loader-pokeball::before{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  border: 4px solid black;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.page-start-welcome{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

/* --- PAGE  MAIN-------------------------*/

.main-page{
  background-image: url(./img/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

.main-section{
  background-image: url(./img/fondo4.jpg);
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;;
}

.header-main{ 
  margin-bottom: 20px;
}

.header-main .container-title {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between  ;
}

.header-main .container-title div {   
  display: flex;
}

.header-main .container-title h1{
    color: yellow;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px rgb(6, 26, 49);
    -webkit-text-stroke: 2px rgba(19, 70, 180, 0.8);
    position: relative;
}

.header-main .container-title .poke-ball{
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  animation: pokeBall 3s linear  infinite ;
}

.header-main .container-title .poke-ball::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: red;
  border-bottom: 2px solid black;
}

.header-main .container-title .poke-ball::after{
content: '';
position: absolute;
background-color: #fff;
width: 30%;
height: 30%;
border: 2px solid black;
border-radius: 50%;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}

@keyframes pokeBall {
  0%{transform: rotate(50deg);}
  25%{transform: rotate(0deg);}
  50%{transform: rotate(-50deg);}
  75%{transform: rotate(0deg) scale(1.2);}
  100%{transform: rotate(50deg);}
}

.header-main .container-select{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.container-select input[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  width: 60px;
  height: 20px;
  background: #f04f05;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,.4);
  transition: .5s;
  cursor: pointer;
}
.container-select input:checked[type="checkbox"]{
  background: #03a9f4;
}
.container-select input[type="checkbox"]:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 50%;
  left: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transform: scale(1) translateY(-50%);
  transition: .5s;
}
.container-select input:checked[type="checkbox"]:before{
  left: 30px;
}


.header-main .pagination .page-active{
  background-color: turquoise;
}

.pokemon-content{
  margin: 0 auto;
  width: 90%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  justify-content: space-around;
}

.pokemon-card{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5); 
  border-radius: .5rem;
  position: relative;
}


.link-pokemon{
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: 
}

.link-pokemon img{
  display: block;
  width: 30%;
  filter: saturate(200%) brightness(105%) contrast(110%) drop-shadow(4px 4px 1px  grey);
  position: relative;
}

.link-pokemon img::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  z-index: 10;
}

.link-pokemon h3{
margin: 0 auto;
}

.fire{
  background-color: tomato;

}

.pokemon-detail{
  position: relative;
  filter: drop-shadow(5px 5px 7px black)
 
}

@media only screen and (min-width: 584px) {

  .who-pokemon .img-container{
    background-size: cover;
  }
  
  .who-pokemon .img-container img{
    position: absolute;
    top: -50px;
    left: -40px;
    width: 70%;
  }

  .link-pokemon img{
    width: 50%;
  }

}

@media only screen and (min-width: 684px) {

  .who-pokemon .img-container{
    background-size: cover;
    background-position: 0px -90px;
  }

  .who-pokemon .img-container img{
    position: absolute;
    top: -70px;
    left: -20px;
    width: 60%;
  }

  .link-pokemon img{
    width: 40%;
  }
}

@media only screen and (min-width: 770px) {
  
  .who-pokemon .img-container{
    background-size: cover;
    background-position: 0px -120px;
  }

  .who-pokemon .img-container img{
    position: absolute;
    top: -120px;
    left: -20px;
  }
}

@media only screen and (min-width: 873px) {
  .page-start{
    grid-template-columns: 1fr;
  }

  body{
    background-image: url(./img/who-is.jpg);
    background-repeat: repeat;
    background-size:cover;
    background-position: 150px center;
    
  }
  .who-pokemon .img-container{
  background: none;
  }


  .link-pokemon img{
    width: 50%;
  }
  .pokemon-card::before{
    width: 55%;
    height: 70%;
  }
}

@media only screen and (min-width: 1115px) {
 
  .who-pokemon .img-container img{
    position: absolute;
    top: -30px;
    left: 230px;
    width: 50%;
  }

  .who-pokemon .img-container .show{
    top: -80px;
    left: 200px;
    width: 60%;
  }

  .page-start-welcome{
    position: absolute;
    top: -50px;
    left: 2%;
    flex-direction: row;
    align-items: center;
  }


  .page-start-welcome h1{
    color: yellow;
    font-size: 4.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px rgb(6, 26, 49);
    -webkit-text-stroke: 1px rgba(0, 0, 0,.8);
  }

  .page-start-welcome input{
      font-size: 2.5rem;
      padding: 10px 5px;
      border-radius: .5rem;
      margin-left: 5px;
      text-align: center;
      outline: none;
      border: none;
      box-shadow: 2px 2px 3px tomato;
      text-shadow: 2px 2px 5px rgb(6, 26, 49);
      -webkit-text-stroke: 1px rgba(85, 81, 80, 0.856);
  }

  .page-start-welcome input::placeholder{
      color: hsla(60, 100%, 50%,.8);
      font-weight: 600;
      -webkit-text-stroke: 1px rgb(124, 46, 32);
      
  }

  .page-start-welcome input:focus{
    box-shadow: 5px 5px 10px tomato;
    outline: 2px solid tomato;
    
}

.page-start-welcome input:focus::placeholder{
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke:1px transparent;
}

  .page-start-welcome button{
    margin-left: 10PX;
    font-size: 3rem;
    background-color: hsla(9, 100%, 64%, .35);
    border-radius: 5px;
    padding: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid tomato;
    box-shadow: 5px 5px 5px tomato;
  }

  .page-start-welcome button:hover{
    background-color: hsla(9, 100%, 64%, .55);
  }

  .page-start-welcome button:active{
    box-shadow: inset 3px 3px 5px tomato;
  }

  .who-pokemon .container-btn-show button{
    top: 60%;
    left: 65%;
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgb(6, 26, 49);
    -webkit-text-stroke: 1px rgba(0, 0, 0,.8);
    border: 1px solid rgba(0, 0, 0,.8);
  }

  .name-pokemon, .who-is{
      position: absolute;
      bottom: 10px;
      left: 2%;
      font-size: 6rem;
      text-shadow: -8px 5px 3px rgba(15, 11, 243, 0.904);
      -webkit-text-stroke: 3px rgba(15, 11, 243, 0.904);
      letter-spacing: 2px;
  }

  .who-is{
      bottom: 10px;
      left: 11%;
      color: yellow;
      font-size: 6rem;
      -webkit-text-stroke: 5px rgba(15, 11, 243, 0.904);
  }

  .who-pokemon .loader-pokeball{
    position: absolute;
    top: 100px;
    left: -100px;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50% ;
    position: relative;
    overflow: hidden;
    border: 3px solid;
  }

}